<!-- Pagina de estado financiero -->
<main>
    <div class="container">
        <div class="row">
            <div id="cajas2" class="z-depth-1">
                <h5 class="center-align">Estado Financiero</h5>
                <p>Estados Financieros para el periodo de tiempo </p>
                <div class="row">
                    <h5>Estado de Resultados</h5>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Primer Periodo</th>
                                <th>Segundo Periodo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ventas</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Costo de Ventas</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Utilidad Bruta</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Gastos bruto</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Gastos de operacion</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Ut. antes int. e imp.</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Gastos financieros</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Utilidad neta</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h5>Balance general</h5>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Efectivo</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Cuentas por cobrar</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Inventarios</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr class="hide">
                                <td>Total activo circulante</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Activo fijo neto</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Total activo</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Pasivo circulante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cuentas por pagar</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Pasivo a largo plazo</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Total pasivo</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>

                            <tr>
                                <td>Patrimonio</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                            <tr>
                                <td>Total pasivo</td>
                                <td> 3445</td>
                                <td> 3445</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>