<main>
    <div class="container">
        <div class="row">
            <div id="cajas2" class="z-depth-1">
                <h5 class="center-align">Estado Financiero</h5>
                <p>Estados Financieros para el periodo de tiempo </p>

                <div class="row" id="balance">
                    <h5>Estado de Resultados</h5>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Primer Periodo</th>
                                <th>Segundo Periodo</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row" id="balance">
                    <h5>Balance General</h5>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Ventas</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>