<header>
  <nav class="indigo darken-1">
    <div class="nav-wrapper">
      <a href="" class="brand-logo" routerLink="/">Razones Financieras</a>
      <a href="" data-activates="mobile-demo" materialize="sideNav" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="active" routerLink="/" href="">Periodos</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/estados-financieros" href="">Estados Finacieros</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-liquidez" href="">R de Liquidez</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-endeudamiento" href="">R de Endeudamiento</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-rentabilidad" href="">R de Rentabilidad</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-cobertura" href="">R de Cobertura</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/notas" href="">Notas</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="active" routerLink="/" href="">Periodos</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/estados-financieros" href="">Estados Finacieros</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-liquidez" href="">R de Liquidez</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-endeudamiento" href="">R de Endeudamiento</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-rentabilidad" href="">R de Rentabilidad</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/r-cobertura" href="">R de Cobertura</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/notas" href="">Notas</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>