<main>
  <div class="container">
    <div class="row">
      <div id="cajas2" class="z-depth-1">
        <h5 class="center-align">Razones de Rentabilidad</h5>
        <p>Las razones de rentabilidad permiten a los analistas evaluar las utilidades de la empresa respecto a un nivel determinado de ventas, cierto nivel de activos o la inversión de los propietarios.</p>
        <div class="card-panel ">
          <div class="row">
            <table class="striped">
              <thead>
                <tr>
                  <div class="col s4">
                    <th>Periodo</th>
                  </div>
                  <div class="col s4"  *ngIf="(verPeriodo1)">
                    <th>Primer Periodo</th>
                  </div>
                  <div class="col s4" *ngIf="(verPeriodo2)">
                    <th>Segundo Periodo</th>
                  </div>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Margen bruto de utilidad</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.margenBrutoUtilidadP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.margenBrutoUtilidadP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Margen de utilidades operacionales</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.margenUtilidadOperacionalP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.margenUtilidadOperacionalP2}}</div>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Margen neto de utilidades</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.margenNetoUtilidadP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.margenNetoUtilidadP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Rotación de activos</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rotacionActivosP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rotacionActivosP2}}</div>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Rendimiento de la inversión</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rendimientoInversionP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rendimientoInversionP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Rendimiento del capital común</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rendimientoCapitalComunP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rendimientoCapitalComunP2}}</div>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Utilidad por acción</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.utilidadXAccionP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.utilidadXAccionP2}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>