
  <!-- Pagina de Notas -->
  <main>
      <div class="container">
        <div class="row">
          <div id="cajas" class="z-depth-1">
            <div class="row">
              <h5 class="center-align">FORMULARIO NOTAS</h5>
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Nombre</label>
                  </div>
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Apellido</label>
                  </div>
  
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">home</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Dirección</label>
                  </div>
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Teléfono</label>
                  </div>
  
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Correo</label>
                  </div>
                  <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">link</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Sitio Web</label>
                  </div>
                </div>
                <div class="row center">
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-teal btn-flat grey">DEFAULT</a>
                  </div>
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-light btn">PRIMARY</a>
                  </div>
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-light btn green">SUCCES</a>
                  </div>
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-light btn cyan">INFO</a>
                  </div>
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-light btn orange">WARNING</a>
                  </div>
                  <div class="col s12 m12 l2">
                    <a class="waves-effect waves-light btn red">DANGER</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>