<!-- Pagina de Notas -->
<main>
  <div class="container">
    <div class="row">
      <div id="cajas2" class="z-depth-1">
        <div class="row">
          <h5 class="center-align">Nombre del Curso</h5>
          <h6 class="center-align">Ingeniería de Sistemas</h6>
          <h6 class="center-align">Código: EIF542</h6>
          <h6 class="center-align">Grupo 97</h6>
        </div>
        <div class="row">
          <h5 class="center-align">Integrantes</h5>
          <h6 class="center-align">Carlos Candanedo Quesada</h6>
          <h6 class="center-align">César Gutiérrez Toruño</h6>
          <h6 class="center-align">Yorleny Díaz Castro</h6>
        </div>
        <div class="row">
            <h5 class="center-align">Actividades</h5>
        </div>
        <div class="row">
            <h5 class="center-align">Recursos</h5>
        </div>
      </div>
    </div>
  </div>
</main>