<!-- Pagina de Notas -->
<main>
  <div class="container">
    <div class="row">
      <div id="cajas2" class="z-depth-1">
        <div class="row">
          <h5 class="center-align">Nombre del Curso</h5>
          <h6 class="center-align">Ingeniería de Sistemas</h6>
          <h6 class="center-align">Código: EIF542</h6>
          <h6 class="center-align">Grupo 97</h6>
        </div>
        <div class="row">
          <h5 class="center-align">Integrantes</h5>
          <h6 class="center-align">Carlos Candanedo Quesada</h6>
          <h6 class="center-align">César Gutiérrez Toruño</h6>
          <h6 class="center-align">Yorleny Díaz Castro</h6>
        </div>
        <div class="row">
          <h5 class="center-align">Actividades</h5>
          <div class="container">
            <div class="row">
              <div class="col s12 m4 l4">
                <div class="card-panel  " id="cajas2" class="z-depth-1">
                  <span class="black-text">
                    <h5 class="center-align">Carlos Marcel Candanedo Quesada</h5>
                    <li type="disc">Creacion de componente de los peridodos de parametrización rango de tiempo para el analisis de las formulas. </li>
                    <li type="disc">Validacion de los selectores de las fechas para mostrar deacuerdo a la fecha seleccionada.</li>
                    <li type="disc">Creacion del componente y servicio de estados de resultados y balance general</li>
                  </span>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="card-panel gradient-45deg-light-blue-indigo" id="cajas2" class="z-depth-1">
                  <span class="black-text">
                    <h5 class="center-align">Yorleny Díaz Castro</h5>
                    <li type="disc">Creacion del componente y las respectivas funciones de calculo de las Razones de Liquidez</li>
                    <li type="disc">Creacion del componente y las respectivas funciones de calculo de las Razones de Endeudamiento</li>
                    <li type="disc">Comprobacion de todas las formulas de dichos componentes</li>
                  </span>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="card-panel gradient-45deg-light-blue-indigo" id="cajas2" class="z-depth-1">
                  <span class="black-text">
                    <h5 class="center-align">César Andrés Gutierrez Toruño</h5>
                    <li type="disc">Creacion del componente y las respectivas funciones de calculo de las Razones de Rentabilidad</li>
                    <li type="disc">Creacion del componente y las respectivas funciones de calculo de las Razones de Cobertura</li>
                    <li type="disc">Creacion del componente con la interfaz del modulo de las notas</li>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <h5 class="center-align">Recursos</h5>
              <div class="col s12 m12 l12 ">
                <div class="card-panel" id="cajas2" class="z-depth-1">
                  <span class="black-text"> 
                      <li type="disc"> Se hace uso principalmente con la ayuda del documento brindado por el Profesor para las formulas asi como investigaciones complementarias para comparacion de las mismas en otros sitios. </li>
                      <li type="disc"> Se investigan funcionalidades y metodos de consultas de Angular en blogs y otros sitios. </li>
                      <li type="disc"> Los componentes son creados pero se investiga mas a fondo acerca de la creacion y manejo del servicio. </li>
                      <li type="disc"> Ademas gracias a la documentacion brindada en la pagina oficial de angular, se implentan los eventos del control de las fechas para los peridos. </li>
                      <li type="disc"> Finalmente para la interfaz gráfica de usuario se implenta el framework de MaterializeCSS, y se investiga como utilizar el mismo con Angular.</li>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>