<main>
  <div class="container">
    <div class="row">
      <div id="cajas2" class="z-depth-1">
        <h5 class="center-align">Razones de Liquidez</h5>
        <p>Las razones de liquidez se refieren a la facilidad con la que la empresa puede pagar sus cuentas. </p>
        <div class="card-panel ">
          <div class="row">
            <table class="striped table-responsive">
              <thead>
                <tr>
                  <div class="col s4">
                    <th>Periodo</th>
                  </div>
                  <div class="col s4"  *ngIf="(verPeriodo1)">
                    <th>Primer Periodo</th>
                  </div>
                  <div class="col s4" *ngIf="(verPeriodo2)">
                    <th>Segundo Periodo</th>
                  </div>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Capital neto de trabajo</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.capitalNetoP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.capitalNetoP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Índice de solvencia</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.indiceSolvenciaP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.indiceSolvenciaP2}}</div>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Prueba ácida</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.pruebaAcidaP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.pruebaAcidaP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Rotación de Inventarios</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rotacionInventarioP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rotacionInventarioP2}}</div>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Rotación de Cartera</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rotacionCarteraP1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rotacionCarteraP2}}</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Rotación de cuentas por pagar</div>
            <div class="col s4" *ngIf="(verPeriodo1)">{{global.rotacionCXP_P1}}</div>
            <div class="col s4" *ngIf="(verPeriodo2)">{{global.rotacionCXP_P2}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>