/* You can add global styles to this file, and also import other style files */
  html{
    background-color: #eeeeee;
  }

  main .container {
    margin-top: 0.64rem;
    width: 82%;
  }
  
  #labels{
    font-weight: 800;
    color: #000;
  }

  nav ul li.active {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #fff;
  }

  .nav-wrapper{
    margin: 0 auto;
    width: 96%;
  }
  .row {
    margin-bottom: 10px;
  }

  .dropdown-content {
    min-width: 120px;
  }
  
  #cajas{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    border-top: 3px solid rgb(0, 23, 255);
  }
  #cajas2{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    border-top: 3px solid rgb(0, 23, 255);
  }
  
  #model{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  
  #color-rLiquidez{
    background-color: gainsboro;
  }

  nav .brand-logo {
    font-size: 1.5rem;
}
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
  }