<main>
  <div class="container">
    <div class="row">
      <div id="cajas2" class="z-depth-1">
        <h5 class="center-align">Razones de Endeudamiento</h5>
        <p>Las razones de endeudamiento indican el monto del dinero de otras personas que usa la empresa para generar utilidades. </p>
        <div class="card-panel ">
          <div class="row">
            <table class="striped">
              <thead>
                <tr>
                  <div class="col s4">
                    <th>Periodo</th>
                  </div>
                  <div class="col s4">
                    <th>Primer Periodo</th>
                  </div>
                  <div class="col s4">
                    <th>Segundo Periodo</th>
                  </div>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="card-panel " id="color-rLiquidez">
          <div class="row">
            <div class="col s4">Razón de endeudamiento</div>
            <div class="col s4">14.000</div>
            <div class="col s4">6.000</div>
          </div>
        </div>
        <div class="card-panel ">
          <div class="row">
            <div class="col s4">Razón pasivo capital</div>
            <div class="col s4">14.000</div>
            <div class="col s4">6.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>